# traderrs.service
[Unit]
Description=Traderrs Rust Binary Service
After=network.target

[Service]
User=n
ExecStart=/home/n/traderrs
Restart=no
RestartSec=5
# Optional: Uncomment if your app needs environment variables or working directory
# WorkingDirectory=/home/n
Environment=RUST_LOG=debug

[Install]
WantedBy=multi-user.target
